---
const title = "Odontologia Lucas Carvalho";
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>

  <body>
    <h1>{title}</h1>
    <p>Implantodontia em Sorocaba</p>

    <a href="https://wa.me/5515920025570">
      Agendar pelo WhatsApp
    </a>
  </body>
</html>